.contact-container {
  color: black;
  background-color: #ebeeee;
  text-align: center;
  margin-top: 5em;
}

.contact-container h1 {
  padding: 30px;
}

.contact-container p {
  padding-bottom: 30px;
  font-size: 1.3em;
}

.contact-container {
  padding-bottom: 2em;
}

.contact-icons a {
  padding: 2em 2em 0 2em;
  border: none;
  outline: none;
}

.linkedin {
  color: #2867b2;
  background-color: #ebeeee;
  border: none;
}

.twitter {
  color: #00acee;
  background-color: #ebeeee;
  border: none;
}

.google {
  color: #db4437;
  background-color: #ebeeee;
  border: none;
}
