.home-content {
  margin: auto auto;
  position: relative;
  text-align: center;
  width: 50%;
  height: 101vh;
  padding-top: 10%;
  text-align: center;
}

.home-content h1 {
  font-size: 4em;
}

.home-content p {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.social-links a {
  display: inline-block;
  margin: 10px;
  color: inherit;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  border-radius: 30px;
}

.fa {
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  border: none;
  border-radius: 50%;
}

#arrow-down {
  margin-top: 8em;
  width: 1em;
  height: 1em;
  margin: 6em auto;
  display: block;
  cursor: pointer;
}
#home {
  background-image: url("../home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#wave {
  animation-name: wave;
  display: inline-block;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  30% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  40% {
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 600px) {
  .home-content {
    width: 100%;
  }
  .home-content h1 {
    font-size: 2em;
    margin-top: 3em;
    padding: 10px;
  }
  .home-content p {
    font-size: 1em;
    padding: 10px;
  }
}
