.container {
  color: black;
  background: #fff;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

.header {
  /* border: 10px solid yellow; */
  display: block;
  margin: auto;
  padding: 2em;
  text-align: center;
}

.header h1 span {
  border-bottom: 3px solid #7353ba;
  padding-bottom: 5px;
}

.desg,
.place-year {
  font-style: italic;
  font-weight: 100;
}

.contents {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.education {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.experience {
  grid-column: 1;
  grid-row: 3 / span 2;
}

.content-resume1 {
  grid-column: 2;
  grid-row: 1;
  margin-top: 3em;
  padding: 5px;
}

.content-resume2 {
  grid-column: 2;
  grid-row: 2;
  margin-top: 10px;
  padding: 5px;
}

.work {
  grid-column: 2;
  grid-row: 3 / span 2;
}

.content-resume3 {
  grid-column: 2;
  grid-row: 3;
  /* margin-top: 2.5em; */
  margin-top: 10px;
  padding: 5px;
}

.desc {
  width: 100%;
  display: block;
  list-style-type: disc;
}

.desc li {
  font-size: 1.2em;
  margin-top: 5px;
  /* font-weight: 600; */
}

.content-resume4 {
  grid-column: 2;
  grid-row: 4;
  /* margin-top: 2.5em; */
  margin-top: 10px;
  padding: 5px;
}

.content-resume5 {
  grid-column: 2;
  grid-row: 5;
  /* margin-top: 2.5em; */
  margin-top: 10px;
  padding: 5px;
}

.content-resume6 {
  grid-column: 2;
  grid-row: 6;
  /* margin-top: 2.5em; */
  margin-top: 10px;
  padding: 5px;
}


.skill {
  border: 1px solid blue;
  padding: 5px;
  margin-bottom: 10px;
  height: 20px;
  width: 100%;
  text-align: center;
}

.html {
  background-color: black;
  position: relative;
  width: 100px;
  right: 50;
  /* border: 1px solid red; */
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
  }
  .desc {
    list-style-position: inside;
  }
}
